<div class="site-credit-line site-credit-year">
  &copy;
	{{ if .Site.Copyright }}
	{{ .Site.Copyright }}
	{{ else }}
	{{ now.Format "2006" }} {{.Site.Title}}
	{{ end }}
</div>
<div class="site-credit-line site-credit-meta">
  <span class="site-credit-meta-line">Fork from <a href="https://github.com/riba2534/blog">riba2534/blog</a></span>
</div>
<div class="site-credit-line site-credit-meta">
  <span class="site-credit-meta-line">Powered by <a href="https://www.cloudflare.com/">Cloudflare</a></span>
</div>
