<div id="sideContainer" class="side-container">
    {{ if eq .Title .Site.Title}}
    <a class="a-block nav-head active" href="{{ "" | relLangURL }}">
    {{ else }}
    <a class="a-block nav-head false" href="{{ "" | relLangURL }}">
    {{ end }}
        <div class="nav-title">
            {{.Site.Title}}
        </div>
        {{ with .Site.Params.subtitle }}
        <div class="nav-subtitle">
            {{.}}
        </div>
        {{ end }}
    </a>

    <div class="nav-link-list">
        {{ $current := .RelPermalink | relLangURL }}
        {{ range .Site.Menus.main }}
            {{$actived := "false"}}
            <!-- A problem caused by slash: if you use "eq" directly, you will get a result of "/tags/" and "/tags" -->
            {{if hasPrefix  $current (.URL|relLangURL)}}
                {{$actived = "active"}}
            {{end}}
            {{ if .HasChildren }}
            {{ $submenuId := printf "submenu-%s" (.Name | urlize) }}
            <div class="a-block nav-link-item {{$actived}}"
                 role="button"
                 tabindex="0"
                 onclick="toggleSidebarSubMenu(this)"
                 onkeydown="if(event.key==='Enter'||event.key===' '){event.preventDefault();toggleSidebarSubMenu(this)}"
                 aria-expanded="false"
                 aria-controls="{{ $submenuId }}">
                {{ .Name }}
                <ul id="{{ $submenuId }}" class="nav-link-subitem sidebar-submenu" style="display: none;" aria-hidden="true">
                    {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ else }}
            <!--<a class="a-block nav-link-item {{$actived}}" href="{{ .URL }}">-->
            <a class="a-block nav-link-item {{ $actived }}" href="{{ .URL }}">
                {{ .Name }}
            </a>
            {{ end }}
        {{ end }}
    </div>

    

    <div class="nav-footer">
        <div class="nav-footer-card">
            {{partial "footer-menu.html" .}}
            <div class="nav-footer-divider"></div>
            {{partial "copyright.html" .}}
        </div>
    </div>
    
</div>
